$black: #191919;
$light-black: #1c1c1c;
$white: #f0f3f5;
$pink: #c90279;
$green: #26c485;
$light-grey: #CAC4CE;
//Reset
html{
  box-sizing: border-box;
}
*, *::after, *::before{
  box-sizing: inherit;
}
 ul[class], li[class]{
     padding: 0;
 }
body,h1,h2,h3,h4,h5,h6,p,ul,li,figure,figcaption,blockquote,dl,dd{
  margin: 0;
  font-size: inherit;
}
ul[class]{
  list-style: none;
  padding: 0;//may be troubles
}
img{
  max-width: 100%;
  display: block;
}
input,button,textarea,select{
  font: inherit;
}
a{
  text-decoration: none;
}
// Global
html,
body {
  height: 100%;
  // overflow-x: hidden;
}
body {



  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  color: $white;
  font-style: normal;
  overflow: auto;
  overflow-x: hidden;
  min-width: 300px;

  position: relative;

  background-color: $light-black;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
.container {
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 15px;

  //hz nado li eto, no mne ponadobilos
  height: 100%;
}
.container-fluid {
  max-width: 1920px;
  padding: 0 10px;
  margin: 0 auto;
}